In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('iris.csv')

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [9]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [11]:
df.shape

(150, 6)

In [13]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [15]:
df = df.drop("Id", axis=1)

In [17]:
X = df.drop("Species", axis=1)
y = df.iloc[:, -1]

In [19]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [25]:
from sklearn.preprocessing import LabelEncoder

In [27]:
label_encoder = LabelEncoder()

In [29]:
y_train_transformed = label_encoder.fit_transform(y_train)
y_test_transformed = label_encoder.transform(y_test)

In [31]:
X_train.shape

(120, 4)

In [33]:
y_train_transformed.shape

(120,)

In [37]:
from sklearn.preprocessing import StandardScaler

In [41]:
scaler = StandardScaler();

In [43]:
x_train_transformed = scaler.fit_transform(X_train)
x_test_transformed = scaler.transform(X_test)

In [47]:
from sklearn.linear_model import LogisticRegression

In [49]:
lr = LogisticRegression()
lr = lr.fit(X_train, y_train_transformed)

In [51]:
print("Model fitted?", hasattr(lr, "coef_"))

Model fitted? True

In [53]:
y_pred = lr.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score

In [59]:
accuracy_score(y_test_transformed, y_pred)

1.0